<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    
<div class="About content">
    <h2>About ITZY</h2>
    <p>A famous kpop girl group, with a girl crush concept.</p>
    <p>Composing of 5 members, namely: Ryujin, Yeji, Lia, Chaeryoung, and Yuna</p>
    <p>My bias is Ryujin lol skl</p>
</div>
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>